body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
ol {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
li {
  display: list-item;
  list-style-position: inside;
}
@media only screen and (min-width : 320px) {
  .container, .container-fluid {
    padding-left: 100px; // just an example
  }
}

@media only screen and (min-width : 480px) {
  .container, .container-fluid {
    padding-left: 100px; // just an example
  }
}

@media only screen and (min-width : 768px) {
  .container, .container-fluid {
    padding-left: 100px; // just an example
  }
}

@media only screen and (min-width : 992px) {
  .container, .container-fluid {
    padding-left: 100px; // just an example
  }
}

@media only screen and (min-width : 1200px) {
  .container, .container-fluid {
    padding-left: 100px; // just an example
  }
}
