body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
ol {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
li {
  display: list-item;
  list-style-position: inside;
}
@media screen and (min-width:550px) {
  body {
    width: 200;
  }
}
